<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>atenticarLogin</servlet-name>
        <servlet-class>Servelets.autenticarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Servelets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TablaTickets</servlet-name>
        <servlet-class>Servelets.TablaTickets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>atenticarLogin</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TablaTickets</servlet-name>
        <url-pattern>/TablaRegistrosTickets</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
