
/* For desktop: */
.section-left{
    width: 50%;
    border-right: 1px solid rgb(206, 203, 203);
    float: left;
}

/* For desktop: */
.section-right{
    width: 50%;
    float: left;
}
@media only screen and (max-width: 1100px) {
    /* For mobile phones: */
    [class="section-right"], [class="section-left"] {
        border-right: none;
        border-bottom: 1px solid rgb(206, 203, 203);
        float: none;
        width: 100%;
    }
}

/*Contenedor Principal*/
#Contenedor{
    width: 95%;
    /*border-top: 1px solid rgb(206, 203, 203);*/
    margin: 0 3rem;
}
#Contenedor::after {
    content: "";
    clear: both;
    display: block;
}

/*FORM LOGIN*/
.form{
    background-color: white;
	width: 380px;
	padding: 10px;
	margin: 30px auto;
    border-radius: 4px;
    box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.26);
}
.form-fieldset{
    width: 380px;
    margin: 0;
    padding: 0;
    border: none;
}
.form-legend{
    font-size: 4rem;
	font-weight: normal;
    color: black;
    margin: 5px 0 15px 0;
}
.form-label{
    margin: 0 13px;
}

.form-input{
    /*width: 200px;*/
    margin: 10px 10px;
    padding: 5px;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 4px;
    color: black;
    border: 1px solid #BDD5DD; 
}

.form-div{
    margin-top: 50px;
    text-align: center;
}

/*TABLA DENTRO DEL FORM*/
table{
    overflow-x: auto;
    border-radius: .6px;
    /*border: 1px solid blue;*/
    border-collapse: separate; /*collapse para unir los bordes de las celdas*/
    /*border-spacing: .7rem;
    oculta las celdas vacias, siempre y cuando este activado separate*/
    /*empty-cells: hide;*/
    /*caption-side: bottom;*/
    margin: 0 auto;
}
td{
    /*border: 1px solid black;*/
    /*text-align: center;*/
    text-align: right;
    font-size: 2rem;
    /*padding	: .3em 0;*/
    font-weight: 500;
}

/* For mobile phones: */
@media only screen and (max-width: 462px){
    #Contenedor, table, .form, h1, p, div, legend, #div_Reportar {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 90%;
    }
}
@media only screen and (max-width: 660px){
    h1 {
    display: inline-block;
    }
}
@media only screen and (max-width: 462px){
    td, tr, label, .header-img{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
    text-align: left;
    }
}

@media only screen and (max-width: 462px){
    #bttonReportar {
    width: 285px;
    display: flow-root;
    margin-left: 18px;
    }
}